<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-primary" (click)="openModal(content)">
      <i class="bi bi-plus text-light"></i>
    </button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adiciconar Conta</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="description" class="form-label">Descrição</label>
          <input type="email" class="form-control" id="description" placeholder="Descrição" [(ngModel)]="bill.description">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Valor</label>
          <input type="email" class="form-control" id="description" placeholder="Valor" [(ngModel)]="bill.value">
        </div>
        <div class="mb-3">
          <label for="paymentDate">Data do Pagamento</label>
          <div class="input-group">
            <input id="paymentDate" class="form-control" placeholder="Descrição" name="dp" ngbDatepicker
              #dp="ngbDatepicker" [(ngModel)]="datePicker" >
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
